<section class="content">
            <div class="container">
<div class="row">
<div class="col-sm-4">
<h3>Our Office</h3>
<hr>
<address>
<strong>Uk address:</strong>12 Talbot Place, Sheffield UK S2 2SS<br>
<strong>Phone:</strong> +4447535 020729
</address>

<address>
<strong>Nigeria Address:</strong> Oyo Ibadan Road, opposite Sawmil behind Kara central Mosque. Oyo, Oyostate Nigeria<br>
<strong>Phone:</strong> +2348068174689
<strong>Phone:</strong> +2348035831719
</address>
</div>
<div class="col-sm-8 contact-form">
    <h3>Contact Us</h3>
<hr>
<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

<div class="row">
<div class="col-xs-6 col-md-6 form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "name"%>
  </div>

<div class="col-xs-6 col-md-6 form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "email" %>
  </div>
  

<div class="col-xs-6 col-md-6 form-group">
    <%= f.text_field :subject, class: "form-control", placeholder: "subject" %>
  </div>

  <div class="col-xs-12 col-md-12 form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Your message", rows: "5" %>
  </div></div>

<div class="row">
<div class="col-xs-12 col-md-12 form-group">
    <%= f.submit 'Send', class: 'btn btn-primary pull-right' %>
  </div></div></section>
<% end %>