<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3>
			 			</div>
			 			<div class="panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.text_field :name, autofocus: true, placeholder: "Name" , class: "form-control input-sm" %></div>
  <div>
  <%= f.email_field :email, autofocus: true, placeholder: "Email address" , class: "form-control input-sm" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password" , class: "form-control input-sm" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" , class: "form-control input-sm" %></div>

  <div><i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "current password" , class: "form-control input-sm" %></div>

 <br> <div><%= f.submit "Update", class: "btn btn-primary btn-block" %></div><br>

<% end %>
	</div>
	    		</div>
    		</div>
    	</div>
<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="well">

 <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

</div></div></div>