<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Sign Up / <a><%= render "devise/shared/links" %></a></h3>
			 			</div>
			 			<div class="panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
   <div>
  <%= f.text_field :name, autofocus: true, placeholder: "Name" , class: "form-control input-sm" %></div>

  <%= f.email_field :email, autofocus: true, placeholder: "Email address" , class: "form-control input-sm"%></div>

  <div> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control input-sm" %> 8 Character minimum</div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" , class: "form-control input-sm"%></div><br>

  <div><%= f.submit "Sign up", class: "btn btn-info btn-block" %></div>
<%  end %>

			    	</div>
	    		</div>
    		</div>
    	</div>


