<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Change Password</h3>
			 			</div>
			 			<div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "password" , class: "form-control input-sm" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm new password" , class: "form-control input-sm" %></div><br>

  <div><%= f.submit "Change my password", class: "btn btn-info btn-block" %></div><br>
  <%= render "devise/shared/links" %>
<% end %>
	</div>
	    		</div>
    		</div>
    	</div>


