<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Forgot Your Password?</h3>
			 			</div>
			 			<div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, autofocus: true, placeholder: "Email address" , class: "form-control input-sm" %></div><br>

  <div><%= f.submit "Send me reset password instructions" ,  class: "btn btn-info btn-block"%></div><br>
  <%= render "devise/shared/links" %>
<% end %>
	</div>
	    		</div>
    		</div>
    	</div>

