<div class="container">
        <div class="row centered-form">
          <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> need to be fixed to save</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label for="InputName"><%= f.label :organisation%><br></label>
  <div class="input-group">
    
    <%= f.text_field :organisation, class: "form-control"  %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :position%><br></label>
  <div class="input-group">

    <%= f.text_field :position, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :address%><br></label>
  <div class="input-group">
    <%= f.text_area :address, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
  </div>
  <label for="InputName"><%= f.label :postcode%>/Zipcode<br></label>
  <div class="input-group">
    <%= f.text_field :postcode, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :city%><br></label>
  <div class="input-group">
    <%= f.text_field :city, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :country%><br></label>
  <div class="input-group">
    <%= f.text_field :country, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :telephone%><br></label>
  <div class="input-group">
    <%= f.text_field :telephone, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div></div></div></div>
<% end %>
