<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Organisation:</strong></td>
                <td> <%= @conference.organisation %></td>
              </tr>
              <tr>
                <td><strong>Position:</strong></td>
                <td><%= @conference.position %></td>
              </tr>
              <tr>
                <td><strong>Telephone:</strong></td>
                <td><%= @conference.telephone %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="conf_title"><%= @conference.organisation %></h1>
        
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Address:</strong></td>
                <td> <%= @conference.address %></td>
              </tr>
              <tr>
                <td><strong>City:</strong></td>
                <td><%= @conference.city %></td>
              </tr>
              <tr>
                <td><strong>Zip / Postcode:</strong></td>
                <td><%= @conference.postcode %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Pay Admission Fees", conference_path, class: "btn btn-primary" %><%= link_to 'Destroy', conference_path(@conference), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %><%= link_to 'Update', edit_conference_path(@conference), class: "btn btn-info" %><br/>
          <h1>Abstract</h1>
          <% if @papers.blank? %>
             <h3>Submit your abstract for review on or before june 9</h3>
             <%= link_to "Submit an Abstract", new_conference_paper_path(@conference), class: "btn btn-success" %>
          <% else %>
             <%= @papers.each do |paper| %>
              <div>
                <p><%= paper.title %></p>
                <p><%= paper.content %></p>
                <p><%= paper.status %></p>
              </div>
              <% end %>
          <% end %>
             
        </div>
       
    </div>
  </div>
</div></div>


