<div class="container">
    <div class="col-md-3 col-lg-3">
        <div class="well">
            <h3>Share Our Vision</h3>
            <p>Help us in our mission by supporting our projects. 
            Join us to emancipate the SEN. Kindly assist us by contributing towards the projects.
            The projects are presented below and there are more details on the project menu. 
            Kindly deposit all donations directly into our bank account and send the evidence of payment to admin@scitec4sen.com.
            All donations will be acknowledged by an official receipt</p>
            <h3>Check Out Some of the projects we are working on</h3>
            <%= link_to "Projects", confrencedet_main_path, class: "btn btn-primary" %>
        </div>
    </div>
     
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Banking Details for Donations</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-9 col-lg-9">
<p>

Donations toward the projects of the organisations should be paid into: </p>

<p><strong>Name of Account:</strong> Science and Technology for Nigeria Persons with Special Needs Initiative</p>

<p><strong>Name of Bank:</strong> Guaranty Trust Bank, Owode, Oyo Nigeria</p>

<p><strong>Account Number:</strong> 0201171027</p>

<p>Bic (SWIFT)         gtbingla</p>

<p>PLEASE E-MAIL COPY OF EVIDENCE OF PAYMENT TO admin@scitec4sen.com and remember to indicate the specific project in mind of the Donor. Thank you</p>

</div></div>
</div>
</div>
</div>
</div>