 <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                
                <h2>Science Should be for all</h2>
                <h1>Irespective of Disability</h1>
            </div>
        </div>
    </header>
     <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color: #265894">
                    Welcome to Scitec4sen
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Ongoing Event </h4>
                    </div>
                    <div class="panel-body">
                        <p>SCIENTIFIC SIGN LANDUAGE DEVELOPMENT PROJECT </p>
                        <h4>Annual Science Camp</h4>
                        <p>The organisation is planning a national Camp for learners with visual impairment in secondary schools. Complete the Contact us page 
                        if you would like to Sponsor/Participate. You can also visit the event website</p>
                        <h4>Training</h4>
                        <p>Our instructors are chosen for their enthusiasm, dedication, commitment, and desire to empower and encourage learners with Special Needs in STEM.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> About Us</h4>
                    </div>
                    <div class="panel-body">
                        <p>The Science and Technology for Nigeria Persons with Special Needs Initiative[scitec4sen] focuses on enabling access of STEM disciplines to Persons with Special Educational Needs. </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Previous Events</h4>
                    </div>
                    <div class="panel-body">
                        <p><strong>International Conference    August, 2016  </strong> </p>
<p> Annual Science Camp for learners with visual impairment.     December, 2016</p>
<p>Training   TBA</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        

    <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Projects</h2>
            </div>
            <div class="col-md-6">
              <h1></h1>
             
               </div>
            <div class="col-md-6">
                <img class="img-responsive" src="#" alt="">
            </div>
        </div>
        <!-- /.row -->
        </div>