<% if current_user && current_user.admin? %>
			 <div class="panel panel-default">
        <div class="panel-heading">
<div class="widget stacked widget-table action-table">
    				
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Conference Applicant</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">

<table class="table table-responsive table-striped table-bordered">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Position</th>
      <th>City</th>
      <th>Countryjjjjjj</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.organisation %></td>
        <td><%= conference.position %></td>
        <td><%= conference.city %></td>
        <td><%= conference.country %></td>
        <td><%= conference.telephone %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
  

<% end %>

