<div class="container">
        <div class="row centered-form">
          <div class="col-md-6 well">
                


<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2>These fields can not be blank</h2>

    
    </div>
  <% end %>
       <%= f.label :organisation %>
      <%= f.text_field :organisation, class: 'form-control' %>
      
      Select Bundle
      <div class: 'form-control'>
      <%= f.select(:choose, options_for_select([['Diamond', 'Diamond'], ['Gold', 'Gold'], ['Bronze', 'Bronze']])) %>
      </div>

      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :telephone %>
      <%= f.text_field :telephone, class: 'form-control' %>

  
  <div class="actions">
    <%= f.submit %>
  </div></div></div></div>
<% end %>
