<div class="widget stacked widget-table action-table">
    				
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Sponsor Applicant</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">

<table class="table table-responsive table-striped table-bordered">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Website</th>
      <th>Telephone</th>
      <th>Type</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.organisation %></td>
        <td><%= sponsor.website %></td>
        <td><%= sponsor.telephone %></td>
        <td><%= sponsor.choose %></td>
        <td><%= sponsor.comment %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
