<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Organisation:</strong></td>
                <td> <%= @sponsor.organisation %></td>
              </tr>
               <tr>
                <td><strong>Website:</strong></td>
                <td><%= @sponsor.website %></td>
              </tr>
               <tr>
                <td><strong>Sponsorship Type:</strong></td>
                <td><%= @sponsor.choose %></td>
              </tr>
             
              <tr>
                <td><strong>Telephone:</strong></td>
                <td><%= @sponsor.telephone %></td>
              </tr>
               <tr>
                <td><strong>Admin Comments:</strong></td>
                <td><%= @sponsor.comment %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>