<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title"><strong>Login</strong></h3>
			 			</div>
			 			<div class="panel-body">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control input-sm" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off" , placeholder: "Password", class: "form-control input-sm"%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", class: "btn btn-info btn-block" %></div><br>
  <strong><%= render "devise/shared/links" %></strong>
<% end %>
</div></div></div></div>