<div class="container">
        <div class="row centered-form">
          <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>


<%= form_for([@conference, @paper]) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <label for="InputName"><%= f.label :title%><br></label>
  <div class="input-group">
    <%= f.text_field :title, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :content%><br></label>
  <div class="input-group">
    <%= f.text_area :content, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :status%><br></label>
  <div class="input-group">
    <%= f.text_field :status, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <label for="InputName"><%= f.label :comment%><br></label>
  <div class="input-group">
    <%= f.text_field :comment, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
