  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Conference 
                    <small>Details</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><%= link_to "Apply to conference", new_conference_path %></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a><%= link_to "Home", confrencedet_main_path , class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Apply to Conference", new_conference_path , class: "list-group-item list-group-item-success" %></a>
                    <a><%= link_to "Presentation", confrencedet_presentation_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Sponsorship", confrencedet_sponsorship_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Speakers", confrencedet_speakers_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Venue/Accomodation", confrencedet_venue_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Advertisment", confrencedet_advert_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Fees/ Payment", confrencedet_fees_path, class: "list-group-item list-group-item-info" %></a>
                    <a><%= link_to "Abstarct Information", confrencedet_abstractdetails_path, class: "list-group-item list-group-item-info" %></a>
                  
                </div>
            </div>
           
       

   
