 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-9">
<h2>STEM ACCESS FOR ALL IRRESPECTIVE OF SPECIAL NEEDS <%= link_to "Submit Abstract Here", new_conference_path %></h2>
<p>The Science and Technology for Nigeria Persons with Special Needs Initiative invites you to share your research findings, tested strategies and solutions on STEM access to persons with special needs. This conference will bring together professionals in the various area of special needs and others who provide services, education or programme.</br>
</br>
We are especially interested in presentations aimed at but not limited to:
<ul>
    
<li>Strategies and resources supporting STEM access to learners with visual impairment</li>	
<li>Strategies and resources supporting STEM access to learners with Hearing impairment</li>
<li>Strategies and resources supporting STEM access to learners with reduced physical impairment</li>
<li>Tested resources for full inclusion of learners with special needs in STEM</li> 
<li>Research on Sign language for STEM Access for SEN</li>
<li>Research on UEB, Nemeth and STEM </li>
</ul></br>

<strong>How to submit your Abstract/Paper</strong></br>
All abstract are due for submission by 10th March, 2016. Acceptance notification of the abstract will be provided within a week of submission and the full paper is due on or before 10th March, 2016. Multiple abstract can be submitted.</br>
All submissions should be attached in an email to admin@scitec4sen.com</p>
 </div>
        </div>
        <!-- /.row -->

        <hr>


