 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-9">
<h2>Advertisements in STEM ACCESS 4 SEN Conference proceedings</h2>
<p>Advertisement opportunities in the STEM ACCESS 4 SEN conference proceedings are available for government, corporate, manufacturers, vendors and nonprofit agencies. Advertisement slots are limited and available on a first-come-first-served basis. Applications for advertisements must be received by 20 March, 2016 Advertisements are available in full colour as follows:
<strong></br></br>	Full A4 page 			USD 500
</br>	Half A4 page			USD 300
</br> Quarter A4 page		USD 200 </br></br></strong>

To request an Advertisement Application Form, email admin@scitec4sen.org or complete the form here. Remember to send a copy of the evidence of payment to admin@scitec4sen.org and you will receive an acknowledgement receipt for the payment. 
</p>
 </div>
        </div>
        <!-- /.row -->

        <hr>


