   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
         <div class="col-md-9">
 <div class="panel panel-default">
                        <div class="panel-heading">
                            Fees
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Presentation Type</th>
                                            <th>Early bird up till <br>March 10, 2016 <br>USD</th>
                                            <th>Early bird up till <br>March 10, 2016 <br>NAIRA</th>
                                            <th>REGULAR After <br> March 10, 2016 <br>USD</th>
                                            <th>REGULAR After <br> March 10, 2016 <br>NAIRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="success">
                                            <td>Poster/Oral</td>
                                            <td>250</td>
                                            <td>50,000</td>
                                            <td>300</td>
                                            <td>60,000</td>
                                        </tr>
                                        <tr class="info">
                                            <td>Virtual</td>
                                            <td>150</td>
                                            <td>30,000</td>
                                            <td>200</td>
                                            <td>40,000</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Additional paper</td>
                                            <td>75</td>
                                            <td>15,000</td>
                                            <td>100</td>
                                            <td>20,000</td>
                                        </tr>
                                        <tr class="success">
                                           <td>Student</td>
                                            <td>100</td>
                                            <td>20,000</td>
                                            <td>150</td>
                                            <td>30,000</td>
                                        </tr>
                                        <tr class="warning">
                                           <td>Primary School Teachers</td>
                                            <td>200</td>
                                            <td>40,000</td>
                                            <td>250</td>
                                            <td>50,000</td>
                                        </tr>
                                        <tr class="success">
                                           <td>Secondary School Teachers</td>
                                            <td>200</td>
                                            <td>40,000</td>
                                            <td>250</td>
                                            <td>50,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="well">
                               <strong> Cancellation Policy</strong><br>
<small>Attendance to the STEM ACCESS Annual Conference 2016 is on a first come, first serve basis. The conference secretariat reserves the right to decline participation due to space limitations. An early completion of the registration form and transfer of payments are strongly encouraged.

A ninety percent refund (80%) of the registration fee is guaranteed for cancellations made before 1st May 2016. 

A fifty percent refund (50%) will be made from 2nd May until the date of the conference (7th August 2016).</small>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                 </div>
        <!-- /.row -->

        <hr>