  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-9">
                <h2>International Conference August, 2016</h2>
                <p>STEM ACCESS FOR ALL IRRESPECTIVE OF SPECIAL NEEDS
The Science and Technology for Nigeria Persons with Special Needs Initiative invites you to share your research findings, tested strategies and solutions on STEM access to persons with special needs. This conference will bring together professionals in the various area of special needs, sciences, engineering and others who provide services, education or programme for learners with special needs. See call for abstract/paper menu for further details</p>
            <div class="well">
                <h3><%= link_to "Apply for Confererence" , new_conference_path, class: "btn btn-success" %><br><strong>Important Dates</strong></h3>
                <h3>Conference Dates: August 7-12, 2016</h3>
<h3> Presentation Dates: August 9-11, 2016</h3>
<h3>Pre-Conference workshop : August 8, 2016</h3>
<h3>Early Payment Discount: June, 15, 2016 <strong>(Extended)</strong></h3>
<h3>Abstract/paper submission  NOW OPEN</h3>
<h3>Final abstracts/papers due: June 15, 2016 <strong>(Extended)</strong></h3> 
<h3>Optional Tour Dates: August 11 and 12, 2016</h3>
            </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
