  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-9">
                <h3>Presentation Format</h3>
                <p>Presentation format shall be in three forms: Oral, Virtual and Poster.</br>
<strong> Oral/Standard presentations</strong></br>
scheduled for 15-20 minutes per presentation. </br>
<strong>Virtual presentations</strong></br>
Can’t attend the conference in person? A virtual presentation allows your Powerpoint, or video to be presented for you at the conference. You will receive a complete conference package after the conference through post.</br>
<strong>Interactive sessions /Workshop</strong></br>
Interactive sessions/Workshop presentations is addressed to those whose presentation involve hands-on activities. This is more encouraged because of the nature of the conference. 1-2 hour session will be allocated to one presentation depending on requirement
</br>
<strong>Poster presentations</strong></br>
Poster presentations is addressed to those who prefer one-one presentation on display. Poster will be displayed as schedule on the conference programme.
</p>

<div class="well">All accepted papers for workshop, oral, virtual and poster presentations will be included in the Conference Proceedings published by SCITEC4SEN with ISBN and ISSN codes.
This publication will be reviewed for inclusion in relevant SciTec4sen Journals online and hard copy versions.
</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
