  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
                <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Dr Gary Supalo</a>
                </h3>
                <p>
                    Dr. Cary Supalo is an Assistant Professor in Chemical Education at Purdue University in West Lafayette, Indiana. 
                    He has a passion for problem solving and making science accessible for all students with disabilities. Blind since birth, Cary Supalo earned his undergraduate degree from Purdue University and his Master’s and PhD in Chemistry from Pennsylvania State University. He is the founder and CEO of a company called Independence Science.Dr. 
                    Supalo has developed and field-tested devices and methods for making Chemistry accessible for all students with disabilities including those who are blind. His research interests include modification of science curricula and teaching methodologies, along with further development of assistive technologies
                </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Prof. Kamoru Usman</a>
                </h3>
                <p>
                    Prof. Kamoru Usman is the Provost of the Federal College of Education (Special) Oyo. 
                    His academic qualifications include a Bachelors Degree in Science Education, a Masters Degree in Education (Mathematics) 
                    and a Doctorate Degree in Education (Mathematics),” Prof. Usman was the Associate Dean of the Faculty of Education, 
                    University of Nigeria, Nsukka, before his new appointment as PROVOST Federal College of Education (Special) Oyo. Nigeria.
                </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Adebowale Ogunjirin</a>
                </h3>
                <p>
                    Adebowale Ogunjirin, Nigeria-born, became deaf at age 9 due to illness. 
                    He graduated from  the University of Ibadan, in 1995 with a bachelor’s degree in Pharmacology. He holds a master’s degree in Pharmaceutics and Pharmaceutical Technology from the University of Lagos, Nigeria.
Ogunjirin also has a Ph. D in Pharmacology from Howard University, United States in 2005. 
He is currently an assistant Professor of Biology at The Gallaudet University, United States.
                </p>
            </div>
            </div>
        <!-- /.row -->

        <hr>