  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Diamond</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price">USD 7,000</span>
                        <span class="period">Exclusive to one company/agency</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Conferment of partner status in hosting the STEM ACCESS 4 SEN Conference</li>
                        <li class="list-group-item">A table in the registration area to promote your company and products</li>
                        <li class="list-group-item">One hour workshop with the conference participants</li>
                        <li class="list-group-item">One free exhibition booth and 3 conference pass</li>
                        <li class="list-group-item">Recognition as Diamond Sponsor at Opening and Closing ceremonies</li>
                        <li class="list-group-item">Opportunity to address participants at Opening Ceremony</li>
                        <li class="list-group-item">Opportunity to chair one Keynote Session</li>
                        <li class="list-group-item">Opportunity to display company banner at Opening and Closing ceremonies</li>
                        <li class="list-group-item">Full A4 page  advertisement and company profile in the Conference Proceeding </li>
                        <li class="list-group-item">Your company logo displayed on the looping power point presentation that is played during breaks in each of the conference rooms</li>
                        <li class="list-group-item">Recognition on the Scitec4sen website including links to your website</li>
                        <li class="list-group-item">Sponsor’s promotional items placed in all Conference Bags</li>
                        <li class="list-group-item">A certificate of Appreciation for your contribution towards the conference</li>
                        <li class="list-group-item"><%= button_to "Apply", new_sponsor_path, class: "btn btn-primary" %>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gold</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price">USD 5000</span>
                        <span class="period">Exclusive to 3 Companies</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Conferment of partner status in hosting the STEM ACCESS 4 SEN Conference</li>
                        <li class="list-group-item">A table in the registration area to promote your company and products</li>
                        <li class="list-group-item">One hour workshop with the conference participants</li>
                        <li class="list-group-item">Exclusive sponsor of the Book of Abstract and Conference programme</li>
                        <li class="list-group-item">One free exhibition booth and 2 conference pass</li>
                        <li class="list-group-item">Recognition as Gold Sponsor at Opening and Closing ceremonies</li>
                        <li class="list-group-item">Opportunity to address participants at Opening Ceremony</li>
                        <li class="list-group-item">Opportunity to chair one Keynote Session</li>
                        <li class="list-group-item">Opportunity to display company banner at Opening and Closing ceremonies</li>
                        <li class="list-group-item">Full A4 page  advertisement and company profile in the Conference Proceeding </li>
                        <li class="list-group-item">Recognition on the Scitec4sen website including links to your website</li>
                        <li class="list-group-item">Sponsor’s promotional items placed in all Conference Bags</li>
                        <li class="list-group-item">A certificate of Appreciation for your contribution towards the conference</li>
                        <li class="list-group-item"><%= button_to "Apply", new_sponsor_path, class: "btn btn-primary" %>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bronze</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price">USD 2500</span>
                        <span class="period">Exclusive to 4 Companies</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Conferment of partner status in hosting the STEM ACCESS 4 SEN Conference</li>
<li class="list-group-item">A table in the registration area to promote your company and products</li>
<li class="list-group-item">One free exhibition booth and 1 conference pass</li>
<li class="list-group-item">Recognition as Bronze Sponsor at Opening and Closing ceremonies</li>
<li class="list-group-item">Opportunity to display company banner at Opening and Closing ceremonies</i>
<li class="list-group-item">Quarter of A4 page advertisement and company profile in the Conference Proceeding</li> 
<li class="list-group-item">Recognition on the Scitec4sen website including links to your website</li>
<li class="list-group-item">Sponsor’s promotional items/flyer placed in all Conference Bags</li>
<li class="list-group-item">A certificate of Appreciation for your contribution towards the conference</li>
                        <li class="list-group-item"><%= link_to "Apply", new_sponsor_path, class: "btn btn-primary" %>
                        </li>
                    </ul>
                </div>
                </div>
        </div>
        <!-- /.row -->

        <hr>
