  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <%= render 'sidebar' %>
        
            <div class="col-md-9">
                <h2>Venue</h2>
<p><a href="http://rockviewhotels.com/">ROCKVIEW HOTELS</a></br>
No.194/196, Adetokunbo Ademola Crescent,</br>
Wuse II, </br>
Abuja, </br>
 Nigeria</p>
 
 </div>
        </div>
        <!-- /.row -->

        <hr>