<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Scitec4sen 2016</p>
                </div>
            </div>
        </footer>
